@{
    ViewData["Title"] = "Rezerwacje";
}

<h1>Złóż rezerwację</h1>
<hr>
<div class="jumbotron bg-dark">
    <div class="row justify-content-center">
        <div class="col col-auto">
            <img src="~/1-floor.png" class="img-fluid" alt="1-floor" style="max-height: 300px"/>
        </div>
        <div class="col col-auto">
            <img src="~/ground.png" class="img-fluid" alt="ground" style="max-height: 300px"/>
        </div>
    </div>
    <div class="jumbotron border mt-5">
        <div class="form-group">
            <div class="form-row">
                <label for="date">Data:</label>
                <input id="date" type="text" class="form-control"
                       placeholder="Wybierz date" data-id="datetime" required/>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="startHour">Początkowa Godzina:</label>
                    <input id="startHour" type="text" class="form-control"
                           placeholder="Wybierz początkową godzinę" data-id="datetime" required disabled/>
                </div>
                <div class="col">
                    <label for="endHour">Końcowa Godzina:</label>
                    <input id="endHour" type="text" class="form-control"
                           placeholder="Wybierz końcową godzinę" data-id="datetime" required disabled/>
                </div>
                <div class="col">
                    <label for="seatsNum">Rodzaj stolika:</label>
                    <select id="seatsNum" class="form-control">
                        <option value="2">2-osobowy</option>
                        <option value="4">4-osobowy</option>
                        <option value="8">8-osobowy</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <a onclick="searchForSeats()" id="searchForSeats" class="btn btn-primary text-white d-none"> Szukaj </a>
            </div>
        </div>


        <div class="form-group">
            <div class="form-row">
                <label for="selectTable">Numer Stolika</label>
                <select id="selectTable" class="form-control" disabled>
                    <option selected>Wybierz najpierw datę rezerwacji</option>
                </select>
            </div>
            <div id="commentDiv" class="form-row">
                <label for="comment">Komentarz do rezerwacji:</label>
                <textarea id="comment" type="text" class="form-control" rows="2" placeholder="(opcjonalne) Wpisz tutaj dodatkową wiadomość"></textarea>
            </div>
            <div class="form-row">
                <a onclick="makeReservation()" id="makeReservation" class="btn btn-primary text-white d-none">Złóż rezerwacje</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial"/>
    <script>
        // SM 2020: "XD"
        const _0x2c56=['flatpickr','clear','7:30','22:00','input,\x20#seatsNum','set','table','#date','getMonth','21:30','disabled','log','{}.constructor(\x22return\x20this\x22)(\x20)','value','disable','hour','console','apply','exception','change','getDate','minuteElement','Y-m-d','trace','today','H:i','_flatpickr','warn','7:00','minute','round','info','d-none','getHours','return\x20(function()\x20','html','removeClass','true','debug','getMinutes','removeAttr','val','error','getFullYear','padStart','<option\x20selected>Wybierz\x20najpierw\x20datę\x20rezerwacji</option>'];(function(_0x2a6735,_0x2c567d){const _0x3a9a73=function(_0x14fc7b){while(--_0x14fc7b){_0x2a6735['push'](_0x2a6735['shift']());}};_0x3a9a73(++_0x2c567d);}(_0x2c56,0x116));const _0x3a9a=function(_0x2a6735,_0x2c567d){_0x2a6735=_0x2a6735-0x0;let _0x3a9a73=_0x2c56[_0x2a6735];return _0x3a9a73;};const _0x2b6ee7=function(){let _0x53f02d=!![];return function(_0x4ca724,_0x544e54){const _0x509a62=_0x53f02d?function(){if(_0x544e54){const _0x4b5f51=_0x544e54[_0x3a9a('0xf')](_0x4ca724,arguments);_0x544e54=null;return _0x4b5f51;}}:function(){};_0x53f02d=![];return _0x509a62;};}();const _0x10aca5=_0x2b6ee7(this,function(){const _0x4bfb5d=function(){};let _0xd7bfd;try{const _0x4e0576=Function(_0x3a9a('0x20')+_0x3a9a('0xa')+');');_0xd7bfd=_0x4e0576();}catch(_0x26e7ce){_0xd7bfd=window;}if(!_0xd7bfd[_0x3a9a('0xe')]){_0xd7bfd[_0x3a9a('0xe')]=function(_0x230507){const _0x5070cd={};_0x5070cd[_0x3a9a('0x9')]=_0x230507;_0x5070cd['warn']=_0x230507;_0x5070cd[_0x3a9a('0x24')]=_0x230507;_0x5070cd[_0x3a9a('0x1d')]=_0x230507;_0x5070cd['error']=_0x230507;_0x5070cd['exception']=_0x230507;_0x5070cd[_0x3a9a('0x4')]=_0x230507;_0x5070cd['trace']=_0x230507;return _0x5070cd;}(_0x4bfb5d);}else{_0xd7bfd[_0x3a9a('0xe')][_0x3a9a('0x9')]=_0x4bfb5d;_0xd7bfd[_0x3a9a('0xe')][_0x3a9a('0x19')]=_0x4bfb5d;_0xd7bfd[_0x3a9a('0xe')][_0x3a9a('0x24')]=_0x4bfb5d;_0xd7bfd[_0x3a9a('0xe')][_0x3a9a('0x1d')]=_0x4bfb5d;_0xd7bfd['console'][_0x3a9a('0x28')]=_0x4bfb5d;_0xd7bfd[_0x3a9a('0xe')][_0x3a9a('0x10')]=_0x4bfb5d;_0xd7bfd[_0x3a9a('0xe')]['table']=_0x4bfb5d;_0xd7bfd['console'][_0x3a9a('0x15')]=_0x4bfb5d;}});_0x10aca5();const now=new Date();const dateInput=$(_0x3a9a('0x5')),startHourInput=$('#startHour'),endHourInput=$('#endHour');const selectTable=$('#selectTable');const makeReservationAnchor=$('#makeReservation');let allowReset=![];dateInput[_0x3a9a('0x2c')]({'locale':'pl','disableMobile':_0x3a9a('0x23'),'minDate':_0x3a9a('0x16'),'dateFormat':_0x3a9a('0x14'),'maxDate':new Date()['fp_incr'](0xe),'onReady':function(){if(now[_0x3a9a('0x1f')]()===0x15&&now[_0x3a9a('0x25')]()>=0x1e||now[_0x3a9a('0x1f')]()>0x15){this[_0x3a9a('0x3')](_0x3a9a('0xc'),[_0x3a9a('0x16')]);}},'onChange':function(){startHour[_0x3a9a('0x2d')]();endHour[_0x3a9a('0x2d')]();startHourInput[_0x3a9a('0x26')]('disabled');}});startHourInput[_0x3a9a('0x2c')]({'locale':'pl','disableMobile':_0x3a9a('0x23'),'enableTime':!![],'noCalendar':!![],'altFormat':_0x3a9a('0x17'),'time_24hr':!![],'defaultHour':'7','defaultMinute':'0','minTime':_0x3a9a('0x1a'),'maxTime':_0x3a9a('0x7'),'minuteIncrement':0x1e,'onOpen':function(){let _0x4f3605=dateInput[_0x3a9a('0x27')]();let _0x8ca003=now[_0x3a9a('0x29')]()+'-'+String(now[_0x3a9a('0x6')]()+0x1)[_0x3a9a('0x2a')](0x2,'0')+'-'+String(now[_0x3a9a('0x12')]())[_0x3a9a('0x2a')](0x2,'0');if(_0x4f3605!==_0x8ca003){startHour[_0x3a9a('0x3')]({'minTime':'7:00','defaultHour':0x7,'defaultMinute':0x0});}else{if(now[_0x3a9a('0x1f')]()>0x6){let _0x446648=getTime()[_0x3a9a('0xd')];let _0x547c3f=getTime()[_0x3a9a('0x1b')];startHour[_0x3a9a('0x3')]({'minTime':_0x446648+':'+_0x547c3f,'defaultHour':_0x446648,'defaultMinute':_0x547c3f});}else{startHour[_0x3a9a('0x3')]({'minTime':_0x3a9a('0x1a'),'defaultHour':0x7,'defaultMinute':0x0});}}endHourInput[_0x3a9a('0x26')](_0x3a9a('0x8'));},'onChange':function(){endHour['clear']();}});endHourInput[_0x3a9a('0x2c')]({'locale':'pl','disableMobile':_0x3a9a('0x23'),'enableTime':!![],'noCalendar':!![],'altFormat':'H:i','time_24hr':!![],'defaultHour':'7','defaultMinute':'30','minTime':_0x3a9a('0x0'),'maxTime':_0x3a9a('0x1'),'minuteIncrement':0x1e,'onOpen':function(){let _0x34808e=parseInt(startHour['hourElement'][_0x3a9a('0xb')]);let _0x1d76d1=parseInt(startHour[_0x3a9a('0x13')][_0x3a9a('0xb')]);if(_0x1d76d1===0x1e){endHour[_0x3a9a('0x3')]({'minTime':''+(_0x34808e+0x1),'defaultMinute':'0','defaultHour':''+(_0x34808e+0x1)});}else{endHour[_0x3a9a('0x3')]({'minTime':''+_0x34808e,'defaultMinute':'30','defaultHour':''+_0x34808e});}},'onClose':function(){$('#searchForSeats')[_0x3a9a('0x22')](_0x3a9a('0x1e'));}});const date=dateInput[0x0]['_flatpickr'],startHour=startHourInput[0x0][_0x3a9a('0x18')],endHour=endHourInput[0x0][_0x3a9a('0x18')];function getTime(){return Math[_0x3a9a('0x1c')]((now[_0x3a9a('0x25')]()+0xf)/0x1e)*0x1e%0x3c===0x0?{'minute':0x0,'hour':now[_0x3a9a('0x1f')]()+0x1}:{'minute':0x1e,'hour':now[_0x3a9a('0x1f')]()};}$('.form-group')['find'](_0x3a9a('0x2'))['on'](_0x3a9a('0x11'),function(){if(allowReset){selectTable[_0x3a9a('0x21')](_0x3a9a('0x2b'));allowReset=![];}});

        function searchForSeats() {
            allowReset = true;
            let search = {
                Date: dateInput.val(),
                StartHour: startHourInput.val(),
                EndHour: endHourInput.val(),
                SeatsNumber: parseInt($("#seatsNum")[0].value)
            };
            $.ajax({
                type: "POST",
                data: JSON.stringify(search),
                url: '/User/Reservation/SearchForTables',
                contentType: "application/json",
                success: function (data) {
                    if (data.error === true) {
                        toastr.error(data.message);
                    }
                    else {
                        toastr.success("Wczytano dane pomyślnie");
                        selectTable.empty();
                        if (data.length > 0) {
                            selectTable.removeAttr("disabled");
                            
                            makeReservationAnchor.removeClass("d-none");
                            $.each(data, function () {
                                selectTable.append($("<option></option>").text(this.text).val(this.value));
                            });
                            makeReservationAnchor.show();
                            $("#commentDiv").removeClass("d-none");
                        }
                        else {
                            selectTable.append($("<option></option>").text("Brak wolnych stolików lub błąd w formularzu"));
                            makeReservationAnchor.hide();
                            $("#commentDiv").addClass("d-none");
                        }
                    }
                },
                error: function() {
                  toastr.error("Coś poszło nie tak");
                }
            });
        }

        function makeReservation() {            
            let makeReservation = {
                Date: dateInput.val(),
                StartHour: startHourInput.val(),
                EndHour: endHourInput.val(),
                TableId: parseInt(selectTable.val()),
                UserId: "@ViewBag.UserId",
                Comment: $("#comment").val()
            }
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(makeReservation),
                    url: '/User/Reservation/MakeReservation',
                    contentType: "application/json",
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            window.location.replace("/User/Reservation/UserReservations")
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
        }
    </script>
}
