﻿@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "UserReservations";
}

<h1>Twoje Rezerwacje</h1>
<hr>
<table class="table table-hover">
    <thead class="bg-dimgrey text-white">
    <tr>
        <th scope="col"></th>
        <th scope="col">Data</th>
        <th scope="col">Start</th>
        <th scope="col">Koniec</th>
        <th scope="col">Numer Stolika</th>
        <th scope="col">Komentarz</th>
        <th scope="col">Usuń</th>
    </tr>
    </thead>
    <tbody>
    @{ var index = 1; }
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@index</th>
            <td>@item.StartDate.ToShortDateString()</td>
            <td>@item.StartDate.ToShortTimeString()</td>
            <td>@item.EndDate.ToShortTimeString()</td>
            <td>@item.TableId</td>
            <td>@item.Comment</td>
            <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a></td>
        </tr>
        index++;
    }
    </tbody>
</table>