﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Restauracja u Domino">
    <meta property="og:image" content="https://dominorestauracja.azurewebsites.net/wb.png">
    <meta property="og:description" content="Restauracja u Domino to miejsce z tradycjami gdzie każdy znajdzie coś dla siebie.">
    <meta name="description" content="Restauracja u Domino to miejsce z tradycjami gdzie każdy znajdzie coś dla siebie.">
    <noscript>
        <meta http-equiv="refresh" content="0;url=@Url.Action("NoJSSupport", "Home", new {area = ""})">
    </noscript>
    <title>@ViewData["Title"] - Restauracja u Domino</title>
    <!-- css -->
    <environment include="Development">
        <!-- Production -->
        <link rel="stylesheet" href="~/css/site.min.css"/>
    </environment>
    <environment exclude="Development">
        <!-- Development -->
        <link rel="stylesheet" href="~/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/dark.css"/>
        <link rel="stylesheet" href="~/css/toastr.css"/>
        <link rel="stylesheet" href="~/lib/font-awesome/dist/css/font-awesome.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    @RenderSection("Head", false)
</head>
<body>
<!-- loader -->
<div id="loader">
    <div class="loader--logo">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img alt="Loader" src="~/logo-loader.svg"/>
        </a>
    </div>
</div>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top border-bottom shadow box-shadow b-5">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img alt="Logo" src="~/logo.svg"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="collapseNavigation"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <partial name="_NavPartial"/>
        </ul>
        <ul class="navbar-nav ml-auto flex-wrap flex-row">
            <partial name="_LoginPartial"/>
        </ul>
    </div>
</nav>
<!-- main -->
<main role="main" id="main" class="dev-padding dev-margin">
    @RenderBody()
</main>
<!-- footer -->
<footer class="footer bg-light border-top box-shadow b-5 py-3">
    <div class="container text-center">
        &copy; Restauracja u Domino 2020
    </div>
</footer>
<!-- js -->
<environment include="Development">
    <!-- Production -->
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <!-- Development -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/flatpickr.js"></script>
    <script src="~/js/pl.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="~/lib/font-awesome/dist/js/font-awesome.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="~/js/gsap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
@await RenderSectionAsync("Scripts", false)
</body>
</html>