﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
        </a>
    </li>

    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link bg-transparent border-0"><i class="fa fa-sign-out-alt fa-2x" aria-hidden="true"></i></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-primary rounded-pill " asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <i class="fa fa-sign-in-alt fa-2x" aria-hidden="true"></i>
        </a>
    </li>
}