﻿@using Microsoft.AspNetCore.Identity
@using Restauracja_u_Domino.Utilities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu p-0" aria-labelledby="dropdownMenu">
        @Html.ActiveActionLink("Polecane", "Recommended", "Menu", new {area = ""}, new {@class = "dropdown-item"}, false)
        @Html.ActiveActionLink("Kategorie", "Index", "Menu", new {area = ""}, new {@class = "dropdown-item"}, false)
    </div>
</li>
@if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Rezerwacje
        </a>
        <div class="dropdown-menu p-0" aria-labelledby="dropdownUser">
            @Html.ActiveActionLink("Zarezerwuj", "Index", "Reservation", new {area = "User"}, new {@class = "dropdown-item"}, false)
            @Html.ActiveActionLink("Twoje Rezerwacje", "UserReservations", "Reservation", new {area = "User"}, new {@class = "dropdown-item"}, false)
        </div>
    </li>
}
else
{
    @Html.ActiveActionLink("Zarezerwuj", "Index", "Reservation", new {area = "User"}, new {@class = "nav-link"}, true)
}
@if (User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Panel Administracyjny
        </a>
        <div class="dropdown-menu p-0" aria-labelledby="dropdownAdmin">
            @Html.ActiveActionLink("Zarządzaj Rolami", "Index", "Role", new {area = "Admin"}, new {@class = "dropdown-item"}, false)
            @Html.ActiveActionLink("Zarządzaj Kategoriami", "Index", "Categories", new {area = "Admin"}, new {@class = "dropdown-item"}, false)
            @Html.ActiveActionLink("Zarządzaj Daniami", "Index", "Dishes", new {area = "Admin"}, new {@class = "dropdown-item"}, false)
            @Html.ActiveActionLink("Zarządzaj Polecanymi", "Index", "RecommendedDishes", new {area = "Admin"}, new {@class = "dropdown-item"}, false)
            @Html.ActiveActionLink("Zarządzaj Stolikami", "Index", "Tables", new {area = "Admin"}, new {@class = "dropdown-item"}, false)
        </div>
    </li>
} else if (User.IsInRole("Employee"))
{
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Panel Pracowniczy
        </a>
        <div class="dropdown-menu p-0" aria-labelledby="dropdownAdmin">
            @Html.ActiveActionLink("Podgląd rezerwacji", "Index", "AllReservation", new {area = "Employee"}, new {@class = "dropdown-item"}, false)
        </div>
    </li>
}