﻿@model Restauracja_u_Domino.Models.Table

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Czy napewno chcesz usunąć ten stolik?</h3>
<div>
    <h4>Stolik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsNumb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeatsNumb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
