﻿@model CreateRoleViewModel
@{
    ViewData["Title"] = "Dodaj Role";
}

<h1>Dodaj Role</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName"></span>
            </div>
            <button style="width:auto;" type="submit" class="btn btn-primary">Stwórz Role</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
