﻿@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Wszytkie role";
}

<h1>Lista Roli</h1>

@if (Model.Any())
{
    @foreach (var role in Model)
    {
        <div class="card">
            <div class="card-header">
                Id Roli: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Nazwa Roli: @role.Name
                </h5>
                <a class="btn btn-primary" asp-controller="role" asp-action="EditRole" asp-route-id="@role.Id">Edytuj role</a>
                <a class="btn btn-danger" asp-controller="role" asp-action="DeleteRole" asp-route-roleId="@role.Id">Usuń role</a>
            </div>
        </div>
    }
    <div class="card">
        <div class="card-header">
            Nowa Rola
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Stwórz nową rolę przyciskiem poniżej
            </h5>
            <a class="btn btn-primary" asp-controller="role" asp-action="CreateRole">Stwórz role</a>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            Brak ról do wyświetlenia
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Stwórz nową rolę przyciskiem poniżej
            </h5>
            <a class="btn btn-primary" asp-controller="role" asp-action="CreateRole">Stwórz role</a>
        </div>
    </div>
}
