﻿<head>
    <style type="text/css" title="x-apple-mail-formatting"></style>
    <title>Typeform</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="x-apple-disable-message-reformatting">
    <link rel="stylesheet" href="https://font.typeform.com/dist/font-email.css">
    <style type="text/css">

        @font-face {
            font-family: apercu-pro;
            font-style: normal;
            font-weight: 400;
            src: local("apercu-pro"),url(https://font.typeform.com/dist/fonts/ApercuPro-Regular.woff2) format("woff")
        }

        body, td {
            font-family: Arial,Helvetica,sans-serif
        }

        strong {
            font-weight: bold;
        }

        p {
            margin: 0;
            padding: 0 0 1em 0
        }

        a {
            text-decoration: none
        }

        @media all and (max-width: 520px) {
            .hide_on_mobile {
                display: none !important
            }

            .show_on_mobile {
                display: block !important;
                margin: auto !important;
                float: left !important
            }

            .fullwidth {
                width: 100% !important;
                height: auto !important;
                min-width: 100% !important;
                float: none !important
            }

            .padded {
                box-sizing: border-box;
                padding-left: 10px !important;
                padding-right: 10px !important
            }

            #logo {
                float: none !important
            }

            .button {
                font-size: 16px !important
            }

            .content td {
                padding-right: 10px !important
            }
        }

        @media screen {
            body, td {
                font-family: apercu-pro,sans-serif !important
            }
        }
    </style>
</head>
<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" bgcolor="#FFFFFF" style="margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;-webkit-text-size-adjust:none">
    <div style="display:none;font-size:1px;color:#FFFFFF;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
        <p>Zbliża się termin twojej rezerwacji</p>
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF" class="fullwidth">
        <tbody>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="fullwidth" align="center" style="margin:auto">
                        <tbody>
                            <tr>
                                <td style="padding:30px 30px 20px 0px" class="masthead padded">

                                    <a href="#" style="color:#e4b83a;text-decoration:none;display:block;float:left" id="logo"><img src="https://pngimage.net/wp-content/uploads/2018/06/logo-placeholder-png-2.png" width="100" alt="t" style="-ms-interpolation-mode:bicubic;display:block;border:none" class="hide_on_mobile"><!--[if !mso]><!-- --><img src="https://pngimage.net/wp-content/uploads/2018/06/logo-placeholder-png-2.png" class="show_on_mobile" width="60" style="display:none"><!--<![endif]--></a>

                                </td>
                            </tr>
                            <tr>
                                <td class="content">

                                    <div mc:repeatable="Hero Section">

                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:0 30px" class="padded">

                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fullwidth" style="border-bottom:1px solid #e7e7e7">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:20px 0;text-align:left;font-weight:500;font-size:24px;color:#343333" class="avenir" mc:edit="title">Witaj [userName]!</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:0 80px 0 0;font-size:18px;line-height:167%;font-weight:400;color:#343333" mc:edit="copy 1">
                                                                        <p>Przypominamy o Twojej jutrzeszej rezerwacji w naszej restauracji. </p>
                                                                        <p>Rezerwacja rozpocznie się o godzinie [startHour] a zakończy o [endHour].</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fullwidth">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:20px 80px 0 0;font-size:16px;line-height:167%;font-weight:400;color:#343333" mc:edit="copy 2">
                                                                        <p>Nie spodziewałeś się tego maila? Po prostu go zignoruj.</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>

</body>