﻿@model Restauracja_u_Domino.ViewModels.MenuViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>
<hr>
<div class="row">
    <div class="col-lg-2">
        <ul class="list-group">
            @if (Model.Categories.Count == 0)
            {
                <p>Brak kategorii do wyświetlenia</p>
            }
            @foreach (var category in Model.Categories)
            {
                <a asp-action="index" asp-route-categoryId="@category.Id">
                    <li class="list-group-item @(category == Model.SelectedCategory ? "active" : "")">@category.CategoryName</li>
                </a>
            }
        </ul>
    </div>
    <div class="col-lg-8 mx-auto">
        <ul class="list-group shadow">
            @if (Model.Dishes.Count == 0)
            {
                <li class="list-group-item m-2">Brak dań do wyświetlenia</li>
            }
            else
            {
                @foreach (var dish in Model.Dishes)
                {
                    <li class="list-group-item m-2">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <img class="ml-lg-5 order-1 order-lg-1" width="200px" height="150px" src="@(dish.ImageUrl == String.Empty ? "/images/dishes/default.jpeg" : dish.ImageUrl)" alt="@dish.Name">
                            <div class="media-body order-2 order-lg-2 p-3 text-left">
                                <div class="h5 mt-0 font-weight-bold mb-2">@dish.Name</div>
                                <p class="font-italic text-muted mb-0 small">@dish.Description</p>
                            </div>
                        </div>
                        <div class="media badge-pill badge-dark">
                            <h6 class="media-body my-1 text-right">@dish.Price zł</h6>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>