﻿@model Restauracja_u_Domino.ViewModels.MenuViewModel
@{
    ViewData["Title"] = "Recommended";
}

<h1>Polecane Dania</h1>
<hr>
<div class="container">
    <div class="row justify-content-center">
        @if (Model.Dishes.Count == 0)
        {
            <p>Brak dań do wyświetlenia</p>
        }
        else
        {
            @foreach (var dish in Model.Dishes)
            {
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@dish.Name</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-subtitle">
                            <p class="card-text">@dish.Description</p>
                        </div>
                        <img class="card-img rounded-sm" src="@(dish.ImageUrl==String.Empty ? "/images/dishes/default.jpeg" : dish.ImageUrl)" alt="@dish.Name" data-holder-rendered="true">
                        <div class="card-text">
                            <p class="text-right">@dish.Price zł</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>