@{
    ViewData["Title"] = "Home Page";
}

<div id="video">
    <video autoplay loop muted controlsList="nodownload nofullscreen noremoteplayback" class="embed-responsive embed-responsive-21by9">
        <source src="~/1.webm" type="video/webm"/>
        <source src="~/1.mp4" type="video/mp4"/>
    </video>
</div>
<div id="about">
    <section class="jumbotron bg-dimgrey min-vh-100">
        <div class="jumbotron">
            <h1 class="display-5 text-uppercase text-center">O nas</h1>
            <hr class="my-5">
            <h4 class="display-5">Mówią najlepsza restauracja na Ziemi.</h4>
            <hr class="my-5">
            <h4 class="display-5">My mówimy najlepsza w galaktyce!</h4>
            <hr class="my-5">
            <p>
                Restauracja u Domino to miejsce z tradycjami gdzie każdy znajdzie coś dla siebie.
                Gdy koledzy podostawali się na studia my już wydawaliśmy posiłki z przyczepki z Niewiadowa.
                Śmiali się co to za zajęcie, że bez studiów nic nie osiągniemy.
                My zaś w czasie sesji nie wyrabialiśmy z zamówieniami do akademika.
                Oni zakówali, a my zarabialiśmy. Oj zarabialiśmy.
                Po studiach oni drugi fakultet, a my druga przyczepka, oni magistra, a my restaurację, oni doktorat,
                a my z naszym menu podbiliśmy galaktykę!
            </p>
            <hr class="my-5">
            <h2 class="display-5">Dlaczego właśnie my?</h2>
            <hr class="my-5">
            <p>
                Staramy się aby nasze dania były smaczne ale przede wszystkim tanie.
                Przycinamy na pieczarkach. Bierzemy czwartą klasę za darmo. A czasami nawet dopłacają żeby zabrać kompost.
                Poza tym w daniach z ciastem zwykle zamiast ciasta jest tektura. Czego oczy nie widzą tego sercu nie żal.
            </p>
        </div>
    </section>
</div>
<div id="team">
    <section class="jumbotron bg-dimgrey min-vh-100">
        <h1 class="display-5 text-uppercase text-center">Nasz zespół</h1>
        <hr class="my-5">
        <div class="jumbotron-fluid">
            <div class="row text-center pt-5">
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/user.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">P.B. TestPL</h5>
                        <span class="badge badge-pill badge-dark small text-uppercase">Główny programista frontend<br><br>Twórca dokumentacji</span>               
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/images/web/rolczak.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Karol Chryczyk</h5>
                        <span class="badge badge-pill badge-dark small text-uppercase">Główny programista backend</span>
                        <br><br>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/images/web/cejot.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Sławomir Jurczak</h5>
                        <span class="badge badge-pill badge-dark small text-uppercase">Główny twórca dokumentacji<br><br>Programista frontend</span>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/images/web/michaś.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Michał Dyngosz</h5>
                        <span class="badge badge-pill badge-dark small text-uppercase">Programista</span>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="partners">
    <section class="jumbotron bg-dimgrey min-vh-100">
        <h1 class="display-5 text-uppercase text-center">Partnerzy</h1>
        <hr class="my-5">
        <p class="text-light">
            Restauracja u-Domino pracuje jedynie z profesjonalnymi osobami poznanymi przypadkowo
            na ulicy, w barach, klubach i u nas po 22. Wybieramy jedynie firmy, które dostarczą nam tanie składniki. Zawsze
            gdy chodzi o nasze potrawy to powtarzamy, że cena gra rolę. Nazwy firm z którymi współpracujemy
            objęte są tajemnicą. Konkurencja nie śpi i nie będziemy się chwalić skąd można załatwić najtańsze
            składniki.
        </p>
    </section>
</div>
<div id="opinions">
    <section class="jumbotron bg-dimgrey min-vh-100">
        <h1 class="display-5 text-uppercase text-center">Opinie</h1>
        <hr class="my-5">
        <div class="jumbotron">
            <div class="row text-center pt-5">
                <div class="col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0 p-3">Można powiedzieć, że jest średnio</h5>
                        <span class="small text-uppercase">
                            Może i jedzenie nie jest najlepsze ale za to wystrój wnętrza jest okropny.
                            Polecam każdemu kto nie ma zbyt dużo pieniędzy, a chce zjeść cokolwiek co
                            przypomina jedzenie. Jeżeli stać Cię na prytę to stać też na 3 zapiekanki
                            w tym oto lokalu. Na minus płatne WC.
                        </span>
                    </div>
                </div>

                <div class="col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0 p-3">TO CHYBA SUPER?!</h5>
                        <span class="small text-uppercase">
                            u-Domino to klasa sama w sobie. Super obsługa, miła atmosfera, dobra lokalizacja.
                            Mimo, że nie ma tego oficjalnie w ofercie to właściciel zgodził się na zorganizowanie
                            urodzin dla kolegi. Pozwolił nawet spać na stołach gdy impreza przedłużyła się o 3 dni.
                            Wszystkim, którzy narzekają na słabe jedzenie chce powiedzieć tylko jedno -Dobre jedzenie
                            to się robi samemu w domu. Tutaj przychodzi się żeby spędzić miło czas. Pozdrawiam!
                        </span>
                    </div>
                </div>

                <div class="col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0 p-3">Stary średni u-Domino</h5>
                        <span class="small text-uppercase">
                            Do u-Domino przychodziłem już jako mały szczeniak. Gdy wczoraj odwiedziłem lokal
                            to stwierdzam, że po tych 20 latach zmieniło się tylko jedno. Niewiele.
                            Potraw jest 2 razy mniej. Ceny 2 razy większe. Obsługa nadal najlepsza.
                            Nawet w sąsiedniej galaktyce nie spotkałem kelnerów, którzy przez pomyłkę dają
                            napiwki klientom. Każdemu kto chce miło spędzić czas gorąco polecam.
                        </span>
                    </div>
                </div>

                <div class="col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <h5 class="mb-0 p-3">No pewnie, że super! Zdrowie!</h5>
                        <span class="small text-uppercase">
                            Jak kawalerski to tylko u-Domino. Kolega bawił się tak dobrze, że już nie
                            musiał iść na wesele. W sumie na ślub też już nie musiał bo trochę przesadziliśmy.
                            Jeżeli nie chcesz iść do restauracji bo boisz się o swój savoir vivre to nie musisz
                            się przejmować. Tutaj poczujesz się jak w domu. Tylko jedzenie gorsze. Na pochwałę
                            zasłguje też ekologiczne podejście u-Domino. Plastikowe sztućce po posiłku są myte
                            i wykorzystywane ponownie. Tak trzymać!
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="contact">
    <section class="jumbotron bg-dimgrey min-vh-100 mb-0">
        <h1 class="display-5 text-uppercase text-center">Kontakt</h1>
        <hr class="my-5">
        <div class="jumbotron-fluid">
            <div class="row">
                <div class="col text-center">
                    <h2>Adres e-mail</h2>
                    <div class="jumbotron rounded-sm">
                        <p>restauracja.domino@gmail.com</p>
                    </div>
                </div>
                <div class="col text-center">
                    <h2>Telefon</h2>
                    <div class="jumbotron rounded-sm">
                        <p>międzygalaktyczny +1324354657687980 321 123 456 777 i 7</p>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div style="min-height:480px; min-width:240px; position:relative">
                    <iframe src="https://maps.google.com/maps?&amp;q=Nowy Sącz&amp;z=12&amp;t=w&amp;output=embed" width="100" height="100" title="location" style="width:100%; height:100%; position:absolute; left:0; border: 0"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="sidenav">
    <span class="indicator"></span>
    <div>
        <ul>
            <li>
                <a href="#about">
                    <span>O nas</span>
                </a><span class="border-indicator"></span>
            </li>
            <li>
                <a href="#team">
                    <span>Nasz zespół</span>
                </a><span class="border-indicator"></span>
            </li>
            <li>
                <a href="#partners">
                    <span>Partnerzy</span>
                </a><span class="border-indicator"></span>
            </li>
            <li>
                <a href="#opinions">
                    <span>Opinie</span>
                </a><span class="border-indicator"></span>
            </li>
            <li>
                <a href="#contact">
                    <span>Kontakt</span>
                </a><span class="border-indicator"></span>
            </li>
        </ul>
    </div>
</div>

@section Scripts
{
    <environment exclude="Development">
        <script src="js/homepage.min.js"></script>
    </environment>
    <environment include="Development">
        <script src="js/homepage.js"></script>
    </environment>
}
