﻿@{
    ViewData["Title"] = "NOJSSupport Page";
    Layout = "";
}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Restauracja u Domino</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<style>
    h3 {
        overflow-wrap:break-word;
    }
</style>
<body>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div class="jumbotron shadow p-3 mb-5 rounded">
                    <h3 class="text-center">Do something for the world. Install a newer browser or enable javascript!</h3>
                    <h2 class="text-center">🤬</h2>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.location.replace("@Url.Action("Index", "Home", new {area = ""})");
    </script>
</body>
</html>