﻿/* body */
body {
    background-color: whitesmoke;
}

/* global */
.form-control, .form-control[readonly] {
    background-color: #fff;
    border: 3px #eceeef solid;
}

.form-control[disabled] {
   background-color: #eceeef; 
}

.bg-dimgrey {
    background-color: dimgrey;
}
.btn-outline-primary {
    color: #fff;
    border-color: #fff;
}

.card {
    display: inline-block;
    width: 300px;
    border-radius: 15px;
    margin: 10px;
    background: #ddd;
    justify-content: center;
    text-align: left;
    box-shadow: 0 5px 20px -10px #111;
    position: relative;
    transition: 0.4s;
}

.card:nth-child(even) {
    transform: translateY(0px) rotate(3deg);
}

.card:nth-child(odd) {
    transform: translateY(0px) rotate(-3deg);
}

.card:hover {
    z-index: 5;
    box-shadow: 0 13px 30px -15px #000;
    transform: translateY(-10px);
}

img {
    max-height: 150px;
    margin: auto;
    display: inline-block;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 400;
}

/* navbar */
.navbar-brand img {
    max-height: 50px;
}

.solid {
    opacity: 100 !important;
    background-color: rgba(0, 0, 0, 1) !important;
    transition: all .5s;
}

.nav-small {
    transition: all .5s;
}

.navbar {
    opacity: 10;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-brand {
    min-height: 40px;
    min-width: 100px;
}

.navbar-brand img {
    animation: stretch 5s infinite;
}

/* sidebar */
.sidenav {
    top: 50%;
    position: fixed;
    left: 0;
    z-index: 200;
    -webkit-transform: translateX(0%) translateY(-50%);
    -moz-transform: translateX(0%) translateY(-50%);
    -ms-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
}

.sidenav div {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 0;
    padding: 4px 10px 0 0;
}

.sidenav ul {
    position: relative;
}

.sidenav li {
    display: block;
    margin-bottom: 55px;
    position: relative;

}

.sidenav .indicator {
    display: none;
}

.sidenav ul span {
    display: block;
    border-right: #fff solid 1px;
    left: 1px;
    position: absolute;
    height: 13.7%;
    opacity: 0.1;
}

.sidenav li a {
    display: block;
    padding: 4px 0 0px 49px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease;
    opacity: 0.5;
}

.sidenav .indicator {
    position: fixed;
    left: -5px;
    width: 18px;
    margin-top: 0;
    height: 18px;
    text-indent: -99999px;
    z-index: 300;
    border: 1px solid #fff;
    border-radius: 18px;
}

.sidenav .indicator:after {
    background: #fff;
    position: absolute;
    content: "";
    border-radius: 18px;
    width: 12px;
    height: 12px;
    top: 3px;
    left: 3px;
}

.sidenav .indicator {
    border: none;
    left: 36px;
    display: block;
    top: 3px;
}

.sidenav li:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 53px;
    background-color: #fff;
    display: block;
    left: 5px;
    top: 19px;
    opacity: 0.1;
}

.sidenav li:last-child::after {
    display: none;
}

.sidenav li a:focus {
    outline: none;
}

.sidenav li a:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 1;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: opacity 0.6s ease-in-out;
}

.sidenav li:hover a,
.sidenav li.active a {
    color: #fff;
    opacity: 1;
}

.sidenav li:hover a:before {
    opacity: 1;
    border: 1px solid rgba(255, 255, 255, 1);
}

.sidenav li.active a:before {
    opacity: 0.2;
}

.sidenav li span.border-indicator {
    position: absolute;
    top: -1px;
    left: -3.55px;
    opacity: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 18px;
    transition: opacity 0.6s ease-in-out;
}

.sidenav li.active span.border-indicator {
    opacity: 1;
}

.sidenav ul li a span {
    position: static;
    display: block;
    border-right: none;
    left: 0;
    height: auto;
    opacity: 1;
}

section#about, section#team, section#partners, section#opinions, section#contact {
    z-index: 100;
}

/* main */
main {
    min-height: calc(100vh - 155px);
    background-color: whitesmoke;
}

.dev-padding {
    padding-top: 50px;
}

.dev-margin {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

/* footer */
footer {}

/* loader */
#loader {
    position: fixed;
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.5s linear;
}

.loaded {
    display: none;
}

#loader .loader--logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2c698d;
}

#loader a {
    display: block;
}

#loader hr {
    margin: unset;
    padding: unset;
}

#loader p {
    text-align: center;
}

/* home index */
#about, #team, #partners, #options, #contact {
    background-color: dimgray;
    min-height: 100vh;
}

/* menu index */

/* menu recomended */
.card-flip {
    perspective: 1000px;
}

.card-flip:hover .flip, .card-flip.hover .flip {
    transform: rotateY(180deg);
    transition-duration: 5ms;
}

.card-flip, .front, .back {
    width: 100%;
}

.flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.card--dark {
    background: linear-gradient(20deg, rgb(144, 140, 140) 0%, rgb(178, 200, 220) 33%, rgb(240, 241, 241) 100%);
}

/* media */
@media (max-width: 991px) {
    .sidenav {
        display: none;
        transition: all .5s;
    }

    .nav-small {
        padding: 12px;
    }

    .dev-margin {
        margin-top: 89px;
    }
}

/* anim */
@keyframes stretch {
    0% {
        opacity: 20;
    }

    50% {
        opacity: 100;
    }

    100% {
        opacity: 20;
    }
}