﻿@model Restauracja_u_Domino.Models.Category

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń</h1>

<h3>Czy na pewno chcesz usunąć tę kategorię?</h3>
<div>
    <h4>Kategoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
