﻿@model Restauracja_u_Domino.Models.RecommendedDishes

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodaj danie do polecanych</h1>

<h4>Polecane danie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DishId" class="control-label"></label>
                <select asp-for="DishId" class ="form-control" asp-items="ViewBag.DishId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

